@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Roboto+Mono&family=Roboto:ital,wght@0,300;0,400;0,900;1,300&family=Tulpen+One&display=swap');

:root{
    /* FONTS */
        --ft_accent: 'Kalam', cursive;
        --ft_main: 'Roboto', sans-serif;
        --ft_main_mono: 'Roboto Mono', monospace;
        --ft_vs: 'Tulpen One', cursive;

    /* COLOURS */
        --clr_primary: #777;
        --clr_bg: #ECE9E6;
}

*{
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: content-box;
}

body{
    background: #ECE9E6;
    background: linear-gradient(to right, #FFFFFF, #ECE9E6);
    font-family: var(--ft_main);
    color: var(--clr_primary);
}
section{
    background: transparent;
    position: absolute;
    display: none;
    width: 100vw;
    height: 100vh;
    opacity: 0;
}

[data-section="loaded"] #frontPage,
[data-section="game"] #game{
    display: flex;
    opacity: 1;
}


.container{
    margin: auto;
    padding: 20px;
    width: 1200px;
    
}

.title{
    display: flex;
    flex-direction: column;
    font-size: 56px;
    margin-bottom: 150px;
}
.title > * {
    margin: 0 auto;
}


h1 {
    font-family: var(--ft_accent);
    font-size: 96px;
    transform: rotate(-2deg);
  }



.vs{
    background-image: linear-gradient( to left, #f7971e, #ffd200);
    display: flex;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    color: white;
    margin-top: -20px;
    position: relative;
}
#frontPage .vs::before, 
#frontPage .vs::after{
    content: 'man';
    color: var(--clr_primary);
    position: absolute;
    font-size: 66px;
    text-transform: capitalize;
    /* font-family: var(--ft_accent); */
    font-family: var(--ft_vs);
    top: 0;
    right: 90%;
}
#frontPage .vs::after{
    content: 'Machine';
    top: auto;
    bottom: -10px;
    left: 90%;
}
.vs span{
    margin: 0px auto;
    font-family: var(--ft_vs);
    font-size: 120px;
    padding: 0;
    line-height: 90px;
}
#game .vs{
    height: 50px;
    width: 50px; 
    margin-top: 100px; 
}
#game .vs span{
    font-size: 50px;
    line-height: 50px;
}

.characterSelection{
    display: flex;
    flex-direction: column;
    font-size: 22px;
}
.characterSelection > *{
    margin: 20px auto;
}
.avatars{
    display: flex;
    flex-direction: row;
}
.character{
    position: relative;
    margin: 20px;
    border-radius: 50%;
    overflow: hidden;
    padding: 5px;
    display: flex;
    cursor: pointer;
    outline: 2px solid transparent;
    transition: outline-color 0.1s linear, transform 0.1s linear;
}
.character::after{
    position: absolute;
    background-color: rgba(0,0,0,0.7);
    content: '';
    left: 0;
    top: 0;
    width: calc(100% - 10px);
    aspect-ratio: 1;
    border-radius: 50%;
    margin: 5px;
    transition: background-color 0.1s linear;
}

.character:hover{
    outline-color: #ffd200;
    transform: scale(1.3);
}
.character:hover::after{
    background-color: rgba(0,0,0,0);
    pointer-events: none;
}
.character img{
    width: 200px;
}



section#game .container{
    margin-top: 0;
}

nav{
    display: flex;
    justify-content: left;
}
nav h2{
    font-family: var(--ft_accent);
    font-size: 40px;
}
.scoreDetails{
    display: flex;
    
    /* font-weight: bolder; */
}
.score{
    margin: 20px auto 0;
    font-size: 80px;
}
.score::before{
    content: 'SCORE';
    position: absolute;
    font-size: 12px;
    width: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%)
}
.roundNum{
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 30px;
    transform: translate(-50%, -50%);
    padding: 0 48px;
    margin-top: -20px;
    font-family: var(--ft_vs);
}
.roundNum span{
    font-size: 55px;
    vertical-align: middle;
    padding: 10px;
}

.gameArea{
    display: flex;
    flex-direction: row;
}
.playArea{
    margin: 0 auto;
    width: 500px;
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    padding: 10px
}
.playArea .playCharacter{
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}
.playArea .playCharacter > *{
    margin: 5px auto;
}
.playArea .playCharacter img{
    width: 100px;
}
.robot .playCharacter img{
    background-color: #999;
    padding: 10px;
    border-radius: 50%;
}
.selectionArea{
    display: flex;
    flex-direction: column;
    padding-top: 40px;
}
.selectionArea > *{
    margin: 0 auto;
}
.selectionMenu{
    list-style: none;
    display: flex;
    justify-content: center;
}
.selectionMenu li{
    margin: 30px 15px;
}

button{
    height: 30px;
    background-color: skyblue;
    border-style: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    outline: none;
    transition: opacity 0.1s linear, transform 0.1s linear;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.75;
}

button.move{
    aspect-ratio: 1;
    padding: 10px;
    
}

button.play{
    margin: 20px auto 0;
    font-size: 28px;
    padding: 5px 50px
}

button.move:focus{
    transform: scale(1.4);
}
button:hover{
    opacity: 1
}
button > svg{
    margin: auto;
}
.selectionArea .playerChoice{
    width:250px;
    aspect-ratio: 1;
    background-color: skyblue;
    padding: 30px;
    border-radius: 5px;
    display: flex;
}
.selectionArea .playerChoice svg{
    margin: auto;
}
div[data-move] path{
    color: transparent;
}

div[data-move="rock"] .rock{
    color: white
}
div[data-move="paper"] .paper{
    color: white
}
div[data-move="scissors"] .scissors{
    color: white
}



.robotChoice{
    width: 250px;
    display: flex;
    background: #999;
    border-radius: 5px;
    color: #eee;
    margin: 150px auto 0;
    padding: 20px;
    transform: rotateY(180deg);
    overflow: hidden;
}
.robotChoice .thinking{
    display: none;
}

.robotChoice[data-move="thinking"] .thinking{
    background-color: #999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
}
.robotChoice .thinking ul{
    background-color: #ddd;
    height: 76px;
    width: 175px;
    border-radius: 38px;
    margin: auto;
    display: flex;
    justify-content: center;
    list-style: none;
    position: relative;
}
.robotChoice .thinking ul:before{
    content: '';
    color: #ddd;
    height: 30px;
    width: 30px;
    background-color: currentColor;
    position: absolute;
    border-radius: 50%;
    left: 0;
    top: 0;
    box-shadow: -20px -20px 0 -7px  currentColor,
                -10px -40px 0 -10px  currentColor;
}



.robotChoice .thinking ul li{

    height: 20px;
    width: 20px;
    margin: auto 10px;
    border-radius: 50%;
    animation: thinking 3s linear infinite forwards;
}
.robotChoice .thinking ul li:nth-of-type(2){
    animation-delay: -0.5s;
}
.robotChoice .thinking ul li:nth-of-type(3){
    animation-delay: -1s;
}

@keyframes thinking {
    0%, 100%{ 
        background-color: #bbb;
    }
    50%{
        background-color: #666;
    }
}